main {
    margin-top: 2rem;
}

.welcome-text {
    margin-top: 5rem;
    font-size: 5rem;
    font-family: 'Indie Flower', cursive;
}

.welcome-text > h3 {
    font-size: 3rem;
}

.red-text {
    color:red
}

.me {
    height: 40rem;
    object-fit: contain;
    border-radius: 100rem;
    margin-left: 3.5rem;
}


