main {
    margin-top: 2rem;
}

.welcome-text {
    margin-top: 5rem;
    font-size: 5rem;
    font-family: 'Indie Flower', cursive;
    margin-right: 3.5rem;
}

.welcome-text > h3 {
    font-size: 3rem;
}

.pic-of-me {
    max-width: 30rem;
    height: 40rem;
}

.me {
    height: 100%;
    object-fit: contain;
    border-radius: 100rem; 
}


