.contact-container {
    flex-wrap: wrap;
    margin-top: 5rem;
}
.contact-container > p {
    font-size: 5rem;
    background-color: none;
}

.contact-container > h3 {
    font-size: 5rem;
    margin-bottom: 2rem;
    background-color: none;
}


.contact-box {
    width: 15rem;
    height: 15rem;
    background-color: #494949a4;
    border-radius: 5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.contact-box > span {
    display: inline;
    font-size: 2.5rem;
    background: none;
}

.contact-social-links {
    object-fit: contain;
    height: 15rem;
    width: 15rem;
    background-color: none;
}

.fb {
    height: 13rem;
    width: 13rem;
}

.mail {
    height: 7rem;
    width: 7rem;

}