main {
    margin-top: 2rem;
}

.welcome-text {
    margin-top: 5rem;
    margin-left: 28rem;
    font-size: 4rem;
    font-family: 'Indie Flower', cursive;
}

.welcome-text > h3 {
    font-size: 3rem;
}

.red-text {
    color:red
}


.photo-of-me {
    position: fixed;
    /* z-index: -100; */
    right: 20rem;
    margin-right: 3.5rem;
    height: 40rem;
}

.me {
    height: 40rem;
    object-fit: contain;
    border-radius: 100rem;
}


