main {
    margin-top: 2rem;
}

.photo-of-me {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    height: 40rem;
}

.me {
    height: 40rem;
    object-fit: contain;
    border-radius: 100rem;
}

.main-text {
    width: 35rem;
    font-size: 1.2rem;
    margin-left: 1.5rem;
    /* background-color: #3b3b3b52; */
    border-radius: 0.5rem;
}



.main-text > h2 {
    font-size: 2.5rem;
    padding: 1rem 1rem 0;
}

.red-text {
    color:red;
    text-decoration: none;
}

.about-me {
    padding: 1rem;
}

.skills {
    padding: 1rem 1rem 0; 
}

.skill {
    font-size: 2rem;
    padding: 1rem 1rem 0;
}

.skill-description {
    margin-top: 0;
    padding: 1rem 1rem 0;
}
