main {
    margin-top: 2rem;

}
.project-container {
    width: 90rem;
    height: 40rem;
    /* background-color: violet; */
    margin-left: 10rem;
    margin-top: 3rem;
}

.project {
    width: 70rem;
    height: 13rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid red;
}

.project-thumbnail {
    height: 13rem;
    width: 20rem;
    margin-right: 2rem;
    object-fit: contain;
}

.project-description {
    width: 40%;

}

.project-description > a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;

}

.project-description >p > a {
    text-decoration: none;
    font-weight: 500;

}

.divider {
    margin-left: 1rem;
    height: 35rem;
    width: .1rem;
    background-color: red;
    border-radius: 100rem;
}
