/* Reusables */

.flex {display: flex;}
.wrap {flex-wrap: wrap;}
.justify-center {justify-content: center;}
.align-center {align-items: center;}
.space-between {justify-content: space-between;}
.space-around {justify-content: space-around;}
.flex-end {justify-content: flex-end;}
.column {flex-direction: column;}

* {
    color: white;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: #161616;
}

.red-text {
    color:red
}