@media screen and (max-width: 1350px) {
    .photo-of-me {
        display: none;
    }

    main {
        justify-content: center;
    }

    .text {
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 1000px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    main {
        flex-direction: column;
        align-items: center;
    }

    .welcome-text {
        margin: 0;
    }

    .main-text {
        width: 100%;
        margin-left: 0;
    }

    .main-text > h2 {
        text-align: center;
    }

    .divider {
        display: none;
    }

    .main-text2 {
        margin-bottom: 1rem;
    }

    .contact-container {
        margin-top: 0;
    }

}

@media screen and (max-width: 950px) {
    .main-text {
        font-size: 1rem;
    }

    .project {
        flex-direction: column-reverse;
        height: unset;
        align-items: center;
    }

    .project-thumbnail {
        margin: 0;
    }

    .project-description {
        max-height: 100%;
        max-width: 80%;
        margin-bottom: 1rem;
    }

    .project-description > h2 {
        text-align: center;
    }

    .project-description > p {
        font-size: 1.2rem;
    }


}


@media screen and (max-width: 920px) {
    main {
        flex-direction: column;
        align-items: center;
    }
    .welcome-text {
        align-items: center;
        margin-top: 0;
        width: 100%;
        margin-right: 0;
        text-align: center;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    .links {
        justify-content: unset;
    }

    .divider {
        display: none;
    }

    .me {
        height: 30rem;
    }
}

@media screen and (max-width: 840px) {
    /* .project {
        flex-direction: column;
    } */

@media screen and (max-width: 450px) {
    .welcome-text {
        font-size: 4rem;
    }

    .welcome-text > h3 {
        font-size: 2.5rem;
    }

    .pic-of-me {
        height: 34rem;
    }

}

@media screen and (max-width: 380px) {
    .welcome-text {
        font-size: 4rem;
    }

    .welcome-text > h3 {
        font-size: 2rem;
    }
    .pic-of-me {
        height: 27rem;
    }
}




