/* Reusables */

.flex {display: flex;}
.justify-center {justify-content: center;}
.align-center {align-items: center;}
.space-between {justify-content: space-between;}
.flex-end {justify-content: flex-end;}
.column {flex-direction: column;}


* {
    font-family: 'Manrope', sans-serif;
    background: #161616;
    color: white;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

header {
    width: 100vw;
    /* background: violet; */
}

.my-name {
    margin: 1rem 0 1rem 2rem ;
    font-size: 1.5rem;
}

.social {
    margin-left: 15rem;
}

.social-links {
    height: 2rem;
    width: 2rem;
}

div > h4 {
    margin: 0;
    color: rgb(255, 70, 70);
}

div > h2 {
    margin-bottom: 0.2rem;  
}
div > h1 {
    font-size: ;  
}

.links {
    margin-right: 2rem;
}

.links >a {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem;
    text-decoration: none;
    cursor: pointer;
}

.links >a:hover {
    text-decoration: underline;
}

main {
    margin-top: 2rem;
}

.photo-of-me {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    height: 40rem;
}

.me {
    height: 40rem;
    object-fit: contain;
    border-radius: 100rem;
}

.main-text {
    width: 35rem;
    font-size: 1.2rem;
    margin-left: 1.5rem;
    /* background: yellow; */
}

.about-me {
    margin-top: 1rem;
}

.red-text {
    /* font-size: 1.5rem; */
    color:red
}
